<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Welcome to my application !{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        foo
        {% endblock %}
    </body>
</html>
